<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.16" targetFramework="win" />
  <package id="MvvmCross.HotTuna.CrossCore" version="3.0.13-beta4" targetFramework="win" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="3.0.13-beta4" targetFramework="win" />
  <package id="MvvmCross.HotTuna.StarterPack" version="3.0.13-beta4" targetFramework="win" />
  <package id="MvvmCross.PortableSupport" version="3.0.13-beta4" targetFramework="win" />
  <package id="MVVMHelpers.Metro" version="2013.1.09.00" targetFramework="win" />
</packages>