<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="win81" />
  <package id="MvvmCross" version="4.0.0-beta3" targetFramework="win81" />
  <package id="MvvmCross.HotTuna.Binding" version="4.0.0-beta3" targetFramework="win81" />
  <package id="MvvmCross.HotTuna.CrossCore" version="4.0.0-beta3" targetFramework="win81" />
  <package id="MvvmCross.HotTuna.MvvmCrossLibraries" version="4.0.0-beta3" targetFramework="win81" />
  <package id="MvvmCross.HotTuna.StarterPack" version="4.0.0-beta3" targetFramework="win81" />
  <package id="MvvmCross.PortableSupport" version="3.0.13-beta4" targetFramework="win" />
  <package id="MVVMHelpers.Metro" version="2013.2.00.00" targetFramework="win81" />
</packages>