<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Composition" version="1.0.30" targetFramework="win81" />
  <package id="MvvmCross" version="4.0.0-beta8" targetFramework="win81" />
  <package id="MvvmCross.Binding" version="4.0.0-beta8" targetFramework="win81" />
  <package id="MvvmCross.Core" version="4.0.0-beta8" targetFramework="win81" />
  <package id="MvvmCross.Platform" version="4.0.0-beta8" targetFramework="win81" />
  <package id="MVVMHelpers.Metro" version="2013.2.00.00" targetFramework="win81" />
</packages>