<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.mvvmcross.star_wars_sample">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Star Wars Sample" android:icon="@mipmap/icon">
	</application>
</manifest>