<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="e579f00a-8ecd-4b78-8b0b-c5c7ed67b219"
            Publisher="CN=Stuart"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>InternetMinute.Store</DisplayName>
    <PublisherDisplayName>Stuart</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="InternetMinute.Store.App">
        <VisualElements
            DisplayName="InternetMinute.Store"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="InternetMinute.Store"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>