<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" android:installLocation="auto" package="com.xplatformmenus.droid">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="23" />
	<application android:label="XPlatformMenus.Droid" android:theme="@style/Theme.AppCompat.Light" android:icon="@drawable/MvvmCrossLogo"></application>
</manifest>